<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%gray(%X{akkaTimestamp}) %highlight(%-5level) %cyan(%X{akkaSource}) - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="${ECOMMERCE_LOG_LEVEL:-INFO}">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="akka.kernel" level="DEBUG"/>
    <logger name="ecommerce" level="DEBUG"/>
    <logger name="pl.newicom" level="DEBUG"/>
</configuration>